<br>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Here is
            a list of sites about RollerCoaster Tycoon<sup>&reg;</sup> 1 &amp; 2. Many of these sites
            also have hints, track designs, scenarios and other information for RollerCoaster Tycoon<sup>&reg;</sup>
            1&amp; 2. If you'd like to have your site listed or if you already have your site listed please <a href="http://www.atari-webcenter.com/friends/" target="_blank">Click Here</a> as we will be using a new system that will better allow you to manage your links.<br>
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Please send
              all correspondence regarding inappropriate content or broken links to <a href="mailto:webmaster@atari.com">webmaster@atari.com</a>
              </font></p>
            <table width="100%" border="0" cellpadding="2">
              <tr>
                <td valign="top"> <p><font size="+1" color="#FFcc33" face="Verdana, Arial, Helvetica, sans-serif">Official Sites</font></p>
                  <blockquote>
                    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"> <a href="http://www.chrissawyer.com" target="_blank">Chris Sawyer's Website</a><br>
                      <a href="http://us.atari.com" target="_blank">Atari's Website</a><br>
                      <a href="http://us.atari.com/games/rollercoaster_tycoon/" target="_blank">RCT Preview Page</a><br>
                      <a href="http://us.atari.com/games/rollercoaster_tycoon_corkscrew" target="_blank">RCT: Corkscrew Follies Preview Page</a><br>
                      <a href="http://us.atari.com/games/rollercoaster_tycoon_loopy/" target="_blank">RCT: Loopy Landscapes Preview Page</a><br>
                      <a href="http://us.atari.com/games/rollercoaster_tycoon_gold_pc_strategy" target="_blank">RCT: Gold Edition Preview Page</a><br>
                      <a href="http://us.atari.com/games/rollercoaster_tycoon_2_pc_strategy" target="_blank">RollerCoaster Tycoon 2 Preview Page</a></font></p>
                  </blockquote></td>
                <td valign="top"> <p><font size="+1" color="#FFcc33" face="Verdana, Arial, Helvetica, sans-serif">NewsGroups</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"></font></p>
                  <blockquote>
                    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="http://groups.google.com/groups?hl=en&lr=&group=alt.games.rctycoon" target="_blank">alt.games.rctycoon</a></font></p>
                  </blockquote>
                  <p><font size="+1" color="#FFcc33" face="Verdana, Arial, Helvetica, sans-serif">General Gaming Sites</font></p>
                  <blockquote>
                    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"> <a href="http://www.gamegossip.com" target="_blank">GameGossip</a><br>
                      <a href="http://www.strategyplanet.com" target="_blank">Strategy Planet</a></font></p>
                  </blockquote></td>
              </tr>
              <tr>
                <td valign="top"> <p><font size="+1" color="#FFcc33" face="Verdana, Arial, Helvetica, sans-serif">US & UK / English Sites</font></p>
                  <blockquote>
                    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
		  <a href="http://www.angelfire.com/ct3/tycoontown" target="_blank">angelfire.com/ct3/tycoontown</a><br>
		  <a href="http://www.boballie.com" target="_blank">boballie.com</a><br>
		  <a href="http://chocobogo.tycoonplanet.com" target="_blank">chocobogo.tycoonplanet.com</a><br>
		  <a href="http://coaster-net.com" target="_blank">coaster-net.com</a><br>
		  <a href="http://coasterdom.com" target="_blank">coasterdom.com</a><br>
		  <a href="http://www.coasters2k.com" target="_blank">coasters2k.com</a><br>
		  <a href="http://www.coasterforce.com" target="_blank">coasterforce.com</a><br>
		  <a href="http://www.crazyuscoasters.com" target="_blank">crazyuscoasters.com</a><br>
		  <a href="http://www.crosswinds.net/~tycoonuniverse" target="_blank">crosswinds.net/~tycoonuniverse</a><br>
		  <a href="http://www.freewebs.com/fonsecacorey" target="_blank">freewebs.com/fonsecacorey</a><br>
		  <a href="http://www.freewebs.com/ultimaterct" target="_blank">freewebs.com/ultimaterct</a><br>
		  <a href="http://ggtycoon.tycoonplanet.com" target="_blank">ggtycoon.tycoonplanet.com</a><br>
		  <a href="http://home.san.rr.com/rctdisneyland/" target="_blank">home.san.rr.com/rctdisneyland</a><br>
		  <a href="http://www.lunatim.com/lunaland/loopy.shtml" target="_blank">lunatim.com/lunaland/loopy.shtml</a><br>
		  <a href="http://www.marc.ukhq.co.uk/rct/" target="_blank">marc.ukhq.co.uk/rct</a><br>
		  <a href="http://mickanmansrct.wz.cz/" target="_blank">mickanmansrct.wz.cz</a><br>
		  <a href="http://mommadragon.freeservers.com" target="_blank">mommadragon.freeservers.com</a><br>
		  <a href="http://www.nedesigns.com" target="_blank">nedesigns.com</a><br>
		  <a href="http://www.rctcentral.y11.net" target="_blank">rctcentral.y11.net</a><br>
		  <a href="http://www.rct-masters.tk" target="_blank">rct-masters.tk</a><br>
		  <a href="http://www.rct2.com" target="_blank">rct2.com</a><br>
		  <a href="http://www.rct2ufs.cjb.net" target="_blank">rct2ufs.cjb.net</a><br>
		  <a href="http://www.rct2unlimited.com" target="_blank">rct2unlimited.com</a><br>
		  <a href="http://rctc.bonusweb.cz" target="_blank">rctc.bonusweb.cz</a><br>
		  <a href="http://www.rctcompetition.com" target="_blank">rctcompetition.com</a><br>
		  <a href="http://rctdepot.8m.com" target="_blank">rctdepot.8m.com</a><br>
		  <a href="http://www.rctguestnames.4t.com" target="_blank">rctguestnames.4t.com</a><br>
		  <a href="http://rctinc.tycoonplanet.com/index.shtml" target="_blank">rctinc.tycoonplanet.com</a><br>
		  <a href="http://www.RCTkingdom.com" target="_blank">RCTkingdom.com</a><br>
		  <a href="http://www.rctmaniacssite.com" target="_blank">rctmaniacssite.com</a><br>
		  <a href="http://rctmarket.bgtguide.com" target="_blank">rctmarket.bgtguide.com</a><br>
		  <a href="http://www.rctmatch.com" target="_blank">rctmatch.com</a><br>
		  <a href="http://rctport.cjb.net" target="_blank">rctport.cjb.net</a><br>
		  <a href="http://www.rctsilver.com" target="_blank">rctsilver.com</a><br>
		  <a href="http://robsrct.tycoonplanet.net" target="_blank">robsrct.tycoonplanet.net</a><br>
		  <a href="http://www.rollercoasterpro.com" target="_blank">rollercoasterpro.com</a><br>
		  <a href="http://www.strategyplanet.com/rctuk" target="_blank">strategyplanet.com/rctuk</a><br>
		  <a href="http://www.threestars.cjb.net" target="_blank">threestars.cjb.net</a><br>
		  <a href="http://www.thrillnetwork.com" target="_blank">thrillnetwork.com</a><br>
		  <a href="http://www.tycoonplanet.com" target="_blank">tycoonplanet.com</a><br>
		  <a href="http://www.worldsoffantasy.50megs.com" target="_blank">worldsoffantasy.50megs.com</a><br>
		  <a href="http://yellowfishrct.tripod.com" target="_blank">yellowfishrct.tripod.com</a><br>
                      </font></p>
                  </blockquote></td>
                <td valign="top"> <p><font size="+1" color="#FFcc33" face="Verdana, Arial, Helvetica, sans-serif">Worldwide / Language Specific Sites</font></p>
                  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>Dutch</b></font></p>
                  <blockquote>
                    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
					  <a href="http://frank.drnk.net/coastin" target="_blank">frank.drnk.net/coastin</a><br>
		  <a href="http://members.lycos.nl/tomme6" target="_blank">members.lycos.nl/tomme6</a><br>
		  <a href="http://www.mpcoasters.cjb.net" target="_blank">mpcoasters.cjb.net</a><br>
		  <a href="http://www.rct-idee.tk" target="_blank">rct-idee.tk</a><br>
		  <a href="http://www.rctholland.nl" target="_blank">rctholland.nl</a><br>
		  <a href="http://www.rct2kingdom.tk" target="_blank">rctkingdom.tk</a><br>
		  <a href="http://www.rollercoastertycoon.startbewijs.nl" target="_blank">rollercoastertycoon.startbewijs.nl</a><br>
		  <a href="http://rollercoasterworld.vze.com" target="_blank">rollercoasterworld.vze.com</a><br>
		  <a href="http://www.themepark.nl" target="_blank">themepark.nl</a><br>
		  </font></p>
      </blockquote>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>German</b></font></p>
      <blockquote>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
          <a href="http://www.r-c-t.de" target="_blank">r-c-t.de</a><br>
		  <a href="http://www.rct-world.com" target="_blank">rct-world.com</a><br>
          <a href="http://rct2.org" target="_blank">rct2.org</a><br>
		  <a href="http://www.rct-2.de" target="_blank">rct-2.de</a><br>
		  <a href="http://www.rct2sixflags.ch.vu" target="_blank">rct2sixflags.ch.vu</a><br>
		  </font></p>
        </blockquote>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>French</b></font></p>

		<blockquote>
          <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
            <a href="http://coasterpark.fr.st" target="_blank">coasterpark.fr.st</a><br>
			<a href="http://membres.lycos.fr/anolou" target="_blank">membres.lycos.fr/anolou</a><br>
			<a href="http://www.rollercoastertycoon2.fr.st" target="_blank">rollercoastertycoon2.fr.st</a><br>
                      </font></p>
                  </blockquote>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>Polish</b></font></p>

          <blockquote>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
          <a href="http://www.rollercoasterek.prv.pl" target="_blank">rollercoasterek.prv.pl</a></font></p>
         </blockquote>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>Spanish</b></font></p>

          <blockquote>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
          <a href="http://www.rct2x.tk" target="_blank">rct2x.tk</a></font></p>
         </blockquote>
				</td>
              </tr>
            </table>
            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">