<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/head_demos.gif" width="85" height="18"><br>
    <br>
    Try the game for yourself by downloading the version of the demo that you require:
    <br>
    <br>
    <b>ENGLISH VERSION</b></font></p>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/demo/rct-edl.exe"><img src="images/dl_click.gif" width="225" height="15" border="0"></a>
        (19.5 MB)<br>
        <a href="http://personalserver.fileplanet.com/redir.asp?from=infogrames&to=http%3A//www.fileplanet.com/index.asp%3Ffile%3D11525" target="_blank">FilePlanet
            Download Mirror</a><br>
    </font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Language:
        English only</font></p>
</blockquote>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>MULTI-LINGUAL
    VERSION</b></font></p>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/demo/rct-mdl.exe"><img src="images/dl_click.gif" width="225" height="15" border="0"></a>
        (22.0 MB)<br>
        Languages:<br>
        French - German - Dutch<br>
        Swedish - Spanish - Italian</font></p>
</blockquote>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>PROBLEMS?</b>
    - If you experience technical problems when trying to run this demo, please
    <a href="http://www.ina-support.com" target="_blank">click here</a> and contact
    US technical support area. <br>
    <br>
    <b>PLEASE NOTE:</b> - The demo will only allow around 25 minutes of game play
    before returning to the main menu. <br>
    The demo requires DirectX&reg; 5 <b>or later</b> to run. If you don't have this
    installed on your machine, or are not sure, you can download DirectX&reg; 7
    by <a href="http://www.microsoft.com/downloads/release.asp?ReleaseID=12098" target="_blank">clicking
        here</a>. <br>
    <br>
    <font face="Arial Narrow" size="1">&copy; 2002 Infogrames Interactive, Inc.
        All rights reserved. This demo is a single user license. It is not intended
        for duplication, mass distribution or as a magazine covermount without the prior
        written permission of Infogrames Interactive. Please contact your authorized
        Infogrames Interactive territory representative for further information. Infogrames
        Interactive is a registered trademark of Infogrames, Inc. All other trademarks
        are the property of their respective holders and any individual rights or trademarks
        are separately identified and recognized. </font></font></p>