<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/head_info.gif" width="147" height="37"></font></p>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="+1" color="#FFcc33">Do
        you have what it takes to create the ultimate amusement park? </font></p>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
        Well, here's your chance to find out! RollerCoaster Tycoon<sup>&reg;</sup></font>
        <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">is
            the best-selling build/management sim that's as easy to use as it is powerful!
            You'll get to design your rides, build your park and keep it up and running
            with the latest and greatest attractions.<br>
            <br>
            RollerCoaster Tycoon<sup>&reg;</sup> provides a variety of scenarios that
            will challenge your imagination. Build your park from scratch or improve and
            expand an existing park with new and exciting rides and attractions - your
            ultimate goal is to keep your guests happy and keep your park profitable.
            You will have access to an unlimited combination of roller coaster designs
            and landscapes to help you build the coolest park imaginable. <br>
            <br>
            Join the millions of <nobr>RollerCoaster Tycoons</nobr> who have experienced
            the fun and addictive challenge of this brilliant game!</font><font face="Verdana, Arial, Helvetica, sans-serif"><br>
        </font><br>
        <br>
        <font color="#FFCC33" size="+1" face="Verdana, Arial, Helvetica, sans-serif">RollerCoaster
            Tycoon Deluxe Game Features:</font></p>
</blockquote>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr valign="top">
        <td><img src="images/spacer.gif" width="25" height="1"></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/dot.gif" width="18" height="15"></font></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Fun,
            creative, easy to use, graphically appealing, strategically intense</font></td>
    </tr>
    <tr valign="top">
        <td><img src="images/spacer.gif" width="25" height="1"></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/dot.gif" width="18" height="15"></font></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Choose from a variety of coaster styles that can be constucted in unlimited configurations
        </font></td>
    </tr>
    <tr valign="top">
        <td><img src="images/spacer.gif" width="25" height="1"></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/dot.gif" width="18" height="15"></font></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Accurate
            motion dynamics/physics which result in thrilling rides or the ultimate
            disaster</font></td>
    </tr>
    <tr valign="top">
        <td><img src="images/spacer.gif" width="25" height="1"></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/dot.gif" width="18" height="15"></font></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Build
            with a variety of rides, shops, decorations, landscape and theme options</font></td>
    </tr>
    <tr valign="top">
        <td><img src="images/spacer.gif" width="25" height="1"></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/dot.gif" width="18" height="15"></font></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Excitement/Nausea
            ratings let you design attractions for all &quot;guests&quot;</font></td>
    </tr>
    <tr valign="top">
        <td><img src="images/spacer.gif" width="25" height="1"></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/dot.gif" width="18" height="15"></font></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Analyze
            hundreds of &quot;guest&quot; thoughts and feelings to help manage your
            park's success</font></td>
    </tr>
    <tr valign="top">
        <td><img src="images/spacer.gif" width="25" height="1"></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/dot.gif" width="18" height="15"></font></td>
        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Track
            your financial performance to avoid bankruptcy</font></td>
    </tr>
</table>