<p><font size="2" color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif"><img src="images/head_funlinks.gif" width="175" height="34"><br>
    <br>
    <font color="#FFcc33" size="+1">Amusment Park History</font></font></p>
<blockquote>
    <p><font size="2" color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://naid.sppsr.ucla.edu/coneyisland/histart.htm" target="_blank">Coney
        Island History Articles</a><br>
        <a href="http://users.vnet.net/schulman/Columbian/ferris.html" target="_blank">The
            Ferris Wheel</a> </font></p>
</blockquote>
<p><font size="2" color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif"><br>
    <font color="#FFcc33" size="+1">Coaster Science and Terms</font></font></p>
<blockquote>
    <p><font size="2" color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://141.104.22.210/Anthology/Pav/Science/Physics/book/home.html" target="_blank">Roller
        Coaster Physics</a><br>
        <a href="http://www.coasterville.com/glossary.htm" target="_blank">Coasterville's
            Dictionary of Coastereese</a></font></p>
</blockquote>
<p><font size="2" color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif"><br>
    <font color="#FFcc33" size="+1">Amusment Park News and Info</font></font></p>
<blockquote>
    <p><font size="2" color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif">
        <a href="http://americacoasters.com" target="_blank">America Coasters Network</a><br>
        <a href="http://screamscape.com" target="_blank">Screamscape</a><br>
        <a href="http://www.sixflagsnews.com" target="_blank">Six Flags News</a><br>
        <a href="http://www.coasterbuzz.com" target="_blank">Coaster Buzz</a><br>
        <a href="http://www.ultimaterollercoaster.com/index.shtml" target="_blank">Ultimate
            Coaster.com</a></font></p>
</blockquote>
<p><font size="2" color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif"><br>
    <font color="#FFcc33" size="+1">Coaster and Amusement Park Enthusiasts</font></font></p>
<blockquote>
    <p><font size="2" color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://www.aceonline.org/" target="_blank">American
        Coaster Enthusiasts Home Page</a><br>
    </font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="http://www.rccgb.co.uk" target="_blank">Roller
        Coaster Club of Great Britain</a><br>
        <a href="http://ds.dial.pipex.com/ecc" target="_blank">European Coaster Club</a></font></p>
</blockquote>