<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/head_manuals.gif" width="134" height="23"></font></p>
<p align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Please
    select the game manual you would like to view: </font></p>
<table width="100%" border="0" cellpadding="2">
    <tr>
        <td>
            <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="downloads/RCTycoon%20Manual%2008311.pdf" target="_blank"><b>RollerCoaster
                Tycoon<font size="1">&reg;</font></b></a><br><a href="downloads/RCTycoon%20Manual%2008311.pdf" target="_blank">
                <img src="images/rctbox.jpg" width="109" height="129" border="0"> </a><br>
                (<a href="downloads/RCTycoon%20Manual%2008311.pdf" target="_blank">click
                    to view</a>)</font></div>
        </td>
        <td>
            <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b><a href="downloads/RCT_LoopyLandscapes.pdf" target="_blank">RollerCoaster
                Tycoon<font size="1">&reg;</font>:<br>
                Loopy Landscapes</a></b><br>
                <a href="downloads/RCT_LoopyLandscapes.pdf" target="_blank"><img src="images/rtc_box_loopy.jpg" width="109" height="129" border="0"></a><br>
                (<a href="downloads/RCT_LoopyLandscapes.pdf" target="_blank">click to
                    view</a>) </font></div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b><a href="downloads/RCT_CorkscrewFollies.pdf" target="_blank">RollerCoaster
                Tycoon<font size="1">&reg;</font>:<br>
                Corkscrew Follies</a></b><br>
                <a href="downloads/RCT_CorkscrewFollies.pdf" target="_blank"><img src="images/rtc_box_cork.jpg" width="109" height="129" border="0"></a><br>
                (<a href="downloads/RCT_CorkscrewFollies.pdf" target="_blank">click to
                    view</a>) </font></div>
        </td>
        <td>
            <p></p>
            <p align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">RollerCoaster
                Tycoon<font size="1">&reg;</font> Gold </font></b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
                (download all game manuals)<br>
                <img src="images/rtc_box.jpg" width="109" height="129"> </font></p>
        </td>
    </tr>
</table>
<p align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
    <br>
    <br>
    <br>
    <br>
</font> </p>
<p align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
</font></p>
