<p><br>
    <b><a name="dlx"></a><font size="+1" face="Arial, Helvetica, sans-serif" color="#ffffff">RollerCoaster
        Tycoon&reg; Deluxe</font></b><br>
    <br>
    <img src="images/deluxe_box.gif" width="125" height="180">
</p>
<p></p>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
        <font size="+1" color="#FFcc33">Experience the Excitement of Creating and Running the Ultimate Amusement Park with this All-In-One Pack!
        </font><br>
        <br>
        RollerCoaster Tycoon<sup>®</sup> Deluxe</i></b> includes all the fun and creative experiences
        offered in the original <i><b>RollerCoaster Tycoon</i></b> and its expansion packs,
        <i><b>Corkscrew Follies™</i></b> and <i><b>Loopy Landscapes™</i></b>. Choose from a huge variety
        of coaster types with giant loops and barrel rolls and incredible in-park
        attractions like suspended monorails and water soaked plume rides! RollerCoaster
        Tycoon Deluxe provides endless thrill park fun for novice and expert
        gamers alike <br>
        <br>
        <font size="+1" color="#FFcc33">Game Features:</font><br>
        <br>
        <img src="images/dot.gif" width="18" height="15"> Includes all content from original <i>Roller Coaster Tycoon™</i>, <i>Corkscrew Follies™</i> and <i>Loopy Landscapes™</i><br>
        <img src="images/dot.gif" width="18" height="15"> Check out over 200 new track designs created by RollerCoaster Tycoons around the world<br>
        <img src="images/dot.gif" width="18" height="15"> Test your skills with 91 Scenarios including favorites like <i>Alton Towers</i>, <i>Heide Park</i> and <i>Pleasure Beach</i><br>
        <img src="images/dot.gif" width="18" height="15"> Stretch your imagination with imaginative park themes including <i>Ice World</i>, <i>Medieval</i> and <i>Martian</i>.<br>
        <img src="images/dot.gif" width="18" height="15"> Find out what individual visitors are thinking and meet their needs to make your profits soar. <br>
        <br>
        <a href="https://www.gog.com/en/game/rollercoaster_tycoon_deluxe" target="_blank">Buy
            Now!</a></font></p>
</blockquote>
<p><a name="ww"></a><font face="Arial, Helvetica, sans-serif" size="4" color="ffffff"><b>RollerCoaster
    Tycoon<sup>&reg;</sup>2: Wacky Worlds PC CD-ROM</b></font><font size="2"><br>
    <br>
    <a href="https://www.gog.com/en/game/rollercoaster_tycoon_2" target="_blank"><img src="images/rct_ww_box.gif" width="108" height="155" border="0"></a></font></p>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
        <font size="+1" color="#FFcc33">Build incredible amusement parks around the world!</font><br>
        <br>
        Find your passport and pack your bags! <i>RollerCoaster Tycoon® 2</i> is taking gamers on the ultimate trip around the globe in the all-new expansion pack, <i>RollerCoaster Tycoon® 2: Wacky Worlds</i>!

        Travel the globe creating high-flying roller coasters and exciting theme parks filled with exotic rides, profitable concessions and the most famous landmarks known to man. Build crazy coasters over the Great Wall of China, around the Eiffel Tower, above the Grand Canyon and more!  Each location is packed with opportunities for success, fun and unique challenges.
        <br>
        <br>
        <font size="+1" color="#FFcc33">Game Features:</font><br>
        <br>
        <img src="images/dot.gif" width="18" height="15"> All new rides, scenery and attractions based on Earth's seven continents: Asia, Europe, Antarctica, North America, Africa, South America, Australia
        <br>
        <img src="images/dot.gif" width="18" height="15"> Fill your parks with famous landmarks including the Eiffel Tower, Big Ben, Great Wall of China, Statue of Liberty and more!<br>
        <img src="images/dot.gif" width="18" height="15"> 17 new scenarios based on real-world locations.<br>
        <img src="images/dot.gif" width="18" height="15"> Over 50 new ride types from around the world to thrill your park guests.<br>
        <img src="images/dot.gif" width="18" height="15"> Over 200 new game elements
        that integrate into <i>RollerCoaster Tycoon® 2</i>.<br>
        <br>
        <br>
        <a href="https://www.gog.com/en/game/rollercoaster_tycoon_2" target="_blank">Buy
            Now!</a></font></p>
</blockquote>

<p><a name="rct2"></a><font face="Arial, Helvetica, sans-serif" size="4" color="ffffff"><b>RollerCoaster
    Tycoon<sup>&reg;</sup>2 PC CD-ROM</b></font><font size="2"><br>
    <br>
    <a href="https://www.gog.com/en/game/rollercoaster_tycoon_2" target="_blank"><img src="images/new_box.gif" width="136" height="177" border="0"></a></font></p>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
        <font size="+1" color="#FFcc33"></font>

        The best-selling game that started the &quot;Tycoon&quot; craze ramps up the
        FUN with all-new rides, features and gameplay that make creating and running
        the ultimate amusement park more fun, more creative and TOTALLY ADDICTIVE!
        Break ground and start from scratch, open the gates to existing parks or just
        create the most gut-wrenching roller coaster ride ever - now you can PLAY
        YOUR WAY. As a RollerCoaster Tycoon&#153; there are NO LIMITS! <br>
        <br>
        <font size="+1" color="#FFcc33">Game Features:</font><br>
        <br>
        <img src="images/dot.gif" width="18" height="15"> Includes
        25 Six Flags<font size="2"><sup>&reg;</sup></font> roller coasters from 5 different Six Flags<font size="2"><sup>&reg;</sup></font>
        locations, including Six Flags<font size="2"><sup>&reg;</sup></font> Magic Mountain and Six Flags<font size="2"><sup>&reg;</sup></font> Great Adventure!
        <br>

        <img src="images/dot.gif" width="18" height="15"> Create
        your own incredible roller coasters using the all-new Roller Coaster Designer!<br>
        <img src="images/dot.gif" width="18" height="15"> Trade
        creations and challenge other RollerCoaster Tycoons worldwide using the RCT2 ride exchange
        on this website.<br>
        <img src="images/dot.gif" width="18" height="15"> Push the limits with new roller coaster types, including Giga Coaster, Spinning Wild Mouse,
        Inverted Impulse Coaster and more!<br>
        <img src="images/dot.gif" width="18" height="15"> Customize
        your park with new and unique themes, including Giant Garden, Wild West, Pirates and more!<br>
        <br>
        <a href="https://www.gog.com/en/game/rollercoaster_tycoon_2" target="_blank">Buy
            Now!</a></font></p>
</blockquote>
<p><br>
    <b><font color="ffffff"><a name="xbox"></a></font></b><font size="4" face="Arial, Helvetica, sans-serif" color="ffffff"><b>RollerCoaster
        Tycoon<sup>&reg;</sup> Xbox™ video game system</b></font><br>
    <br>
    <a href="http://www.us.infogrames.com/games/rollercoaster_tycoon_xbox_strategy/" target="_blank"><img src="images/rct_xbox.gif" width="108" height="155" border="0"></a></p>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
        <font size="+1" color="#FFcc33">Build the ultimate amusement park in your
            living room with RollerCoaster Tycoon for the Xbox™ video game system!</font><br>
        <br>
        This best-selling build/management sim is as easy-to-use as it is powerful!
        More than four million expert and novice PC gamers have used <i>RollerCoaster
            Tycoon</i> to design, construct, demolish, test and tinker with their incredible
        g-force creations and profitable amusement park enterprises. Go to new heights
        with this hugely addictive experience on the powerful Xbox™ video game system.
        See every detail of an amusement park come to life with colorful graphics
        and life-like sound. Get up close and personal to meet the needs of customers.
        Build like never before and hold on tight with RollerCoaster Tycoon for the
        Xbox™ video game system!<br>
        <br>
        <font size="+1" color="#FFcc33">Game Features:</font><br>
        <br>
        <img src="images/dot.gif" width="18" height="15"> Includes all content from
        original <i>RollerCoaster Tycoon, Loopy Landscapes</i> and <i>Corkscrew Follies</i><br>
        <img src="images/dot.gif" width="18" height="15"> Over 50 roller coaster styles
        that can be constructed in unlimited configurations<br>
        <img src="images/dot.gif" width="18" height="15"> Over 90 challenging scenarios
        to challenge novice and expert gamers alike<br>
        <img src="images/dot.gif" width="18" height="15"> Accurate coaster motion
        dynamics and physics can result in thrilling rides or the ultimate disaster<br>
        <img src="images/dot.gif" width="18" height="15"> Enhanced graphics provides
        smooth motion and zooming around the park<br>
        <img src="images/dot.gif" width="18" height="15"> Power of the Xbox&#153;
        allows for even more lively, active and animated parks!<br>
        <img src="images/dot.gif" width="18" height="15"> Dolby Surround Sound Support<br>
        <br>
        <br>
        <a href="http://www.us.infogrames.com/store/?game=ROLL&referer=wpage&platform=XBOX" target="_blank">Buy
            Now!</a></font></p>
</blockquote>
