<font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/head_patches.gif" width="216" height="21"><br>
</font>
<P> <font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="BODY" color="#FFFFFF">
    Since being released, RollerCoaster Tycoon, has been updated to fix a number
    of bugs. The latest version of RollerCoaster Tycoon is V1.08.187. Rollercoaster
    Tycoon can now be played under Microsoft Windows 2000. There was an issue where
    guests would stop entering the park once the player had reached a certain level
    of ride research. This problem was only evident in the first ten Loopy Landscapes
    scenarios. This has also been fixed so that guests will continue to enter the
    park throughout the duration of the scenario. </font>
<P><font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="BODY" color="#FFFFFF"><b>How
    To Check Your Version Number:</b></font>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="BODY" color="#FFFFFF">You
        can check which version number you currently have by selecting 'About RollerCoaster
        Tycoon' from the disk icon pull-down menu while playing the game - The version
        number will be displayed at the top of the window before the credits.</font></p>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">If
        you don't already have the latest version, you can download and install a
        patch to update your game and take advantage of the latest bug fixes. </font>
    </p>
</blockquote>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1" class="BODY">
    <P><font face="Verdana, Arial, Helvetica, sans-serif" size="+1" color="#FFcc33">
        Update Instructions: </font>
        <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
            <OL>
                <LI>Check which version number of the game you currently have (see above).
                <LI>Click on the relevant link below to download the patch file for your version
                    (Be sure to download the correct language version).
                <LI>Save the patch file to your hard drive, then once the download is complete,
                    run the patch and follow the instructions.
            </OL>
        </font>
        <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
            <B>RollerCoaster Tycoon patches</B> (to upgrade from V1.08.1xx)
        </font>
    <UL>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCT-UK.exe">UK
            English - V1.08.187</A> </font>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCT-US.exe">US
            English - V1.08.187</A> </font>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCT-FR.exe">French
            - V1.08.187</A> </font>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCT-GE.exe">German
            - V1.08.187</A> </font>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCT-IT.exe">Italian
            - V1.08.187</A> </font>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCT-DU.exe">Dutch
            - V1.08.187</A> </font>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCT-SP.exe">Spanish
            - V1.08.187</A> </font>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCT-SW.exe">Swedish
            - V1.08.187</A> </font>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCT-JA.exe">Japanese
            - V1.08.187</A> </font> <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
            <br>
        </font>
    </UL>

    <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
        <B>Added Attractions / Corkscrew Follies patches</B> (to upgrade from V1.10.0xx)
    </font>
    <UL>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCTAA-UK.exe">UK English V1.10.026</A></FONT></LI>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCTCF-US.exe">US English V1.10.026</A></FONT></LI>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCTAA-FR.exe">French V1.10.021</A></FONT></LI>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCTAA-GE.exe">German V1.10.021</A></FONT></LI>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCTAA-IT.exe">Italian V1.10.021</A></FONT></LI>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCTAA-DU.exe">Dutch V1.10.021</A></FONT></LI>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCTAA-SP.exe">Spanish V1.10.021</A></FONT></LI>
        <LI><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><A HREF="https://rctv1.rctspace.com/test/patches/RCTAA-SW.exe">Swedish V1.10.021</A></FONT></LI>
    </UL>

    <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
        <B>Loopy Landscapes patches</B> (to upgrade from version 1.20.012)
    </font>
    

    <ul>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-US.exe">American v1.20.013</A></font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-UK.exe">British v1.20.013</A></font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-DU.exe">Dutch v1.20.013</A></font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-FR.exe">French v1.20.013</A></font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-GE.exe">German v1.20.013</A></font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-IT.exe">Italian v1.20.013</A></font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-KO.exe">Korean v1.20.013</A></font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-PO.exe">Polish v1.20.013</A></font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-SP.exe">Spanish v1.20.013</A></font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/patches/RCTLL-SW.exe">Swedish v1.20.013</A></font></li>
    </ul>
    <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="+1" class="3" color="#Ffcc33">Scenario
        Progress Loss:</font>
</font>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="BODY" color="#FFFFFF">
        Due to a bug in the early versions of RollerCoaster Tycoon, you may find that
        your progress through the scenarios is reset when Windows changes you PC's
        clock between normal and summer time / daylight saving time. This problem
        was fixed in later versions, and updating the game to the latest version (see
        'patches' above) will prevent this problem affecting you. We apologize for
        this problem, and if it does affect you, you can try the following methods
        of retrieving your scenario progress and scores. </font></p>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
        If you <b><u>DO NOT</u></b> have the Added Attractions / Corkscrew Follies
        Add-on: </font>
    <ol><li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Download the progress recovery utility to your PC by <A HREF="https://rctv1.rctspace.com/test/patches/rctrec.exe">clicking
        here</A> (88Kb) </font></li><li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Run by double-clicking on the file </font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Wait
            for it to complete </font> </li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Start
            RollerCoaster Tycoon as normal and your progress should be restored. </font>
        </li>
    </ol>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
        If you <b><u>DO</u></b> have the Added Attractions / Corkscrew Follies Add-on:
    </font> </p>
    <ol><li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Un-Install the game (Make sure you DON'T delete saved games when prompted) </font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="BODY" color="#FFFFFF">Install
            RollerCoaster Tycoon from the original CD, but DON'T start the game. </font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="BODY" color="#FFFFFF">Install
            Added Attractions / Corkscrew Follies from the CD . </font></li>
        <li><font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="BODY" color="#FFFFFF">Start
            the game as normal - The scenario progression should then be restored. </font></li>
    </ol>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="BODY" color="#FFFFFF">
        <b>*Note:</b> In both cases, you need to have saved games for all your 'completed'
        parks in the "Saved Games" folder for the recovery process to work. Your saved
        games must have been saved AFTER completion. </font></p>
</blockquote>

<P> <font face="Verdana, Arial, Helvetica, sans-serif" size="+1" class="3" color="#FFcc33">Technical
    Support: </font>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="BODY" color="#FFFFFF">
        If you do not find what you are looking for, please visit our <A HREF="https://reddit.com/r/rct" target="_blank">technical
        support page</A> for current updates/patches. &nbsp; </font></p>
</blockquote>
