<p><img src="images/cs_rides.gif" width="312" height="25"><br>
</p>
<p> <br>
    <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Six sets of RollerCoasters designed by Chris Sawyer are currently available for download!</font><br>
</p>
<table border="0" cellspacing="5" cellpadding="5">

    <tr align="center">
        <td align="left">
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="+1" color="#FFcc33">The
                Beastly Collection of Steel Roller Coasters: </font></p>
            <blockquote>
                <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="javascript:pop('ride_beastly');"><img src="downloads/Beastly/bumble_bee.gif" width="264" height="222" border="0" align="left" hspace="5"></a></font></b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">This
                    great set of rides is all steel coasters. Ranging from the small and
                    simple to the outrageously twisted, there'll be something here to suit
                    your park.<br>
                    <br>
                    <a href="javascript:pop('ride_beastly');">Click Here to see the other
                        tracks</a><br>
                    <br>
                    <a href="/downloads/Beastly/Beastly.zip"><img src="images/dl_track_designs.gif" width="219" height="14" border="0"></a><br>
                    <br>
                    <a href="javascript:pop('dl_help');"><img src="images/dl_help.gif" width="137" height="14" border="0"></a></font></p>
            </blockquote>
        </td>
    </tr>

    <tr align="center">
        <td align="left">
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="+1" color="#FFcc33"><br>
                The Cat &amp; Mouse Collection of Wooden Wild Mouse Roller Coasters:</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"></font></p>
            <blockquote>
                <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="javascript:pop('ride_catmice');"><img src="downloads/Catmice/cat1.gif" width="261" height="221" border="0" align="left" hspace="5"></a></font></b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">This
                    is a collection of very compact wooden wild mouse coasters, and can
                    be used with or without the expansion packs.<br>
                    <br>
                    <a href="javascript:pop('ride_catmice');">Click Here to see the other
                        tracks</a></font><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
                    <br>
                    <a href="/downloads/Catmice/catmice.zip"><img src="images/dl_track_designs.gif" width="219" height="14" border="0"></a><br>
                    <br>
                    <a href="javascript:pop('dl_help');"><img src="images/dl_help.gif" width="137" height="14" border="0"></a></font></b></p>
            </blockquote>
        </td>
    </tr>

    <tr align="center">
        <td align="left">
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="+1" color="#FFcc33"><br>
                The Gem Collection of Corkscrew Roller Coasters: </font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"></font></p>
            <blockquote>
                <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="javascript:pop('ride_gem');"><img src="downloads/Gem/amber.gif" width="262" height="222" border="0" align="left" hspace="5"></a></font></b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">This
                    great set of rides are all corkscrew coasters. Ranging from the small
                    and simple to the large monsters, there'll be something here to suit
                    your park. <br>
                    <br>
                    <a href="javascript:pop('ride_gem');">Click Here to see the other tracks</a></font><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
                    <br>
                    <a href="/downloads/Gem/Gem.zip"><img src="images/dl_track_designs.gif" width="219" height="14" border="0"></a><br>
                    <br>
                    <a href="javascript:pop('dl_help');"><img src="images/dl_help.gif" width="137" height="14" border="0"></a></font></b></p>
            </blockquote>
        </td>
    </tr>

    <tr align="center">
        <td align="left">
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="+1" color="#FFcc33"><br>
                The Original Collection of Roller Coasters:</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"></font></p>
            <blockquote>
                <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="javascript:pop('ride_original');"><img src="downloads/Original/brooke.gif" width="264" height="222" border="0" align="left" hspace="5"></a></font></b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">This
                    set of rides covers a variety of ride types. Created by the man who
                    created the game itself, these ride designs should help you attain your
                    park building goals.<br>
                    <br>
                    <a href="javascript:pop('ride_original');">Click Here to see the other
                        tracks</a></font><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
                    <br>
                    <a href="/downloads/Original/Original.zip"><img src="images/dl_track_designs.gif" width="219" height="14" border="0"></a><br>
                    <br>
                    <a href="javascript:pop('dl_help');"><img src="images/dl_help.gif" width="137" height="14" border="0"></a></font></b></p>
            </blockquote>
        </td>
    </tr>

    <tr align="center">
        <td align="left">
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="+1" color="#FFcc33"><br>
                The Phobia Collection of Steel Twister Roller Coasters:</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"></font></p>
            <blockquote>
                <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="javascript:pop('ride_phobia');"><img src="downloads/Phobias/clithro.gif" width="262" height="222" border="0" align="left" hspace="5"></a></font></b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">This
                    is a collection of steel twister roller coasters, all designed for maximum
                    excitement within a small area to ease construction. The Added Attractions/Corkscrew
                    Follies or Loopy Landscapes expansion pack is required to use these
                    designs.<br>
                    <br>
                    <a href="javascript:pop('ride_phobia');">Click Here to see the other
                        tracks</a></font><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
                    <br>
                    <a href="/downloads/Phobias/phobias.zip"><img src="images/dl_track_designs.gif" width="219" height="14" border="0"></a><br>
                    <br>
                    <a href="javascript:pop('dl_help');"><img src="images/dl_help.gif" width="137" height="14" border="0"></a></font></b></p>
            </blockquote>
        </td>
    </tr>

    <tr align="center">
        <td align="left">
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="+1" color="#FFcc33"><br>
                The Woodies Collection of Roller Coasters:</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"></font></p>
            <blockquote>
                <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="javascript:pop('ride_woodies');"><img src="downloads/Woodies/ash.gif" width="262" height="222" border="0" align="left" hspace="5"></a></font></b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">This
                    is a collection of wooden roller coasters, all designed for maximum
                    excitement within a small area to ease construction. . Ranging from
                    the small and simple to the large monsters, there'll be something here
                    to suit your park. <br>
                    <br>
                    <a href="javascript:pop('ride_woodies');">Click Here to see the other
                        tracks</a></font><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
                    <br>
                    <a href="/downloads/Woodies/Woodies.zip"><img src="images/dl_track_designs.gif" width="219" height="14" border="0"></a><br>
                    <br>
                    <a href="javascript:pop('dl_help');"><img src="images/dl_help.gif" width="137" height="14" border="0"></a></font></b></p>
            </blockquote>
        </td>
    </tr>
</table>
<br>
<font face="Arial Narrow" size="1" color="#FFFFFF"><br>
    These files have been thoroughly tested and checked for viruses. However, they
    are provided &quot;as is&quot;, no warranty is given, and the developer cannot
    provide any technical support for them. All content is © Copyright 2001 Chris
    Sawyer, all rights reserved. </font>