<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="images/head_scenarios.gif" width="154" height="28"><br>
    <br>
    <img src="images/head_chrisscenarios.gif" width="300" height="22"></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><font size="+1" color="#FFcc33">ALTON
    TOWERS</font> by Chris Sawyer &amp; John Wardley</font></p>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">This
        scenario is based on the United Kingdom's real Alton Towers theme park with
        the rides it contained at the end of 1999. Not only is it an amazing version
        of a real-life park, but it also challenges the player with the real difficulties
        in managing a successful park whilst continuing to grow it. Make sure you
        check out Chris Sawyer's great versions of Nemesis and Oblivion.<br>
        <a href="http://www.altontowers.com/" target="_blank">Click here</a> to learn
        more about the real Alton Towers!</font></p>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/downloads/alton_towers.zip"><img src="images/dl_scnario.gif" width="342" height="15" border="0"></a></font></p>
    <blockquote>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="javascript:pop('dl_help_scenario');"><img src="images/dl_help.gif" width="137" height="14" border="0"></a>
        </font></p>
    </blockquote>
</blockquote>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><font color="#FFcc33" size="+1"><br>
    FORT ANACHRONISM </font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">by
    Chris Sawyer</font></font></p>
<blockquote>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">In
        this scenario, you will need to improve and develop a park which has a fort
        for its main landmark. Building new rides in this very limited and watery
        area will definitely challenge a player's skills. This scenario will not work
        with the demo version of the game.</font></p>
    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="https://rctv1.rctspace.com/test/downloads/fort1.zip"><img src="images/dl_scnario.gif" width="342" height="15" border="0"></a></font></p>
    <blockquote>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="javascript:pop('dl_help_scenario');"><img src="images/dl_help.gif" width="137" height="14" border="0"></a></font></p>
    </blockquote>
</blockquote>