<script language='JavaScript'>
    <!--
    function os(loc) {
        window.open(loc,'screen','width=400,height=380,menubar=no,resizable=no,scrollbars=no,toolbar=no,top=20,left=20');
    }
    // end hiding contents -->
</script>
<img src="images/head_screens.gif" width="190" height="28"><br>
<br>
<center>
    <p align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF">Screenshots
        provided are taken from RollerCoaster Tycoon<font size="1">®</font> Deluxe
        which includes RollerCoaster Tycoon<font size="1">®</font> and The Loopy Landscape™
        Expansion 2-pack.</font></p>
    <table width="400">
        <tr>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?5');"><img src="screenshots/5.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?4');"><img src="screenshots/4.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
        <tr>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?1');"><img src="screenshots/1.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?2');"><img src="screenshots/2.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
        <tr>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?8');"><img src="screenshots/8.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?3');"><img src="screenshots/3.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
        <tr>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?9');"><img src="screenshots/9.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?7');"><img src="screenshots/7.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
        <tr>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?6');"><img src="screenshots/6.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table width="204" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3"><img src="images/sss_top.gif" width="204" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="images/sss_left.gif" width="6" height="144"></td>
                        <td><a href="javascript:os('ss.php?10');"><img src="screenshots/10.jpg" width="192" height="144" border="0"></a></td>
                        <td><img src="images/sss_right.gif" width="6" height="144"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="images/sss_bot.gif" width="204" height="5"></td>
                    </tr>
                </table>
            </td>
    </table>
</center>